.textColorBlue {
    color: #008FFF;
    font-family: 'HK Grotesk', sans-serif;
    font-weight: bold;
}

.textColorBlack {
    color: #1D253A;
    font-family: 'HK Grotesk', sans-serif;
    font-weight: bold;
}

.redButton {
    background-color: #FF0000;
    color: white;
    border-radius: 15px;
    width: 50%;
    height: 90px;
    border: none;
}

.blueShadow {
    box-shadow: 0px 3px 40px #DDEAF8;
}